/* styles.css */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  background-color: #9EC8B9;
  font-family: Arial, sans-serif;
}
html {
    overflow: hidden;
    height: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #092635;
  margin-top: 0px;
  height: 50px;
  font-size: larger;
}

button {
   background-color: forestgreen;
   border-radius: 5px;
   border-width: 0;
   padding: 10px;
   color: white;
   margin: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
}

.joke-block {
  text-align: center;
}
